{% extends "base/base.html"  %}
{% load static %} 
{% load crispy_forms_tags %}
{% block title %}Reinitialiser Reussi{% endblock %}

{% block content %}
    <h1>Réinitialiser votre mot de passe</h1>
    {% if validlink %}
        <p>Veuillez entrer votre nouveau mot de passe deux fois :</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p>
                <input type="submit" value="Mettre à Jour" />
            </p>
        </form>
    {% else %}
        <p>
            Le lien de réinitialisation du mot de passe n'est pas valide, peut-être parce qu'il a déjà été utilisé.
            déjà été utilisé. Veuillez demander une nouvelle réinitialisation du mot de passe.
        </p>
    {% endif %}
{% endblock %}